body.page-id-73 {
  .wp-block-jetpack-layout-grid {
      background: linear-gradient(#040808,#0c1718, #0c1718);
    // background: black;
    margin-top: 4rem;

      .wp-block-embed {
          margin: 2rem !important;
      }
  }
}