// Removes whitespace between header and hero images/sections
.wp-block-coblocks-hero.alignfull {
	margin-top: 0
}
.wp-block-coblocks-hero .iz-hero-text-shadow {
	// text-shadow: 0 0 20px black;
	// background-color: #1BE08B;
	
}


.iz-no-margin {
	margin: 0;
}

/* ### Header ### */

/* Reduces vertical whitespace */
.header-inner {
	padding-top: 1.8rem !important;
	padding-bottom: 1.8rem !important;
}


/* Makes the site logo smaller (on high-ppi devices that works better than uploading a smaller file) */
.site-logo img {
	max-height:35px !important
}

/* Moves burger menu icon up to make sure it's centered including the "Menu* label added by the Twentig plugin */
#site-header button.nav-toggle {
	margin-top: -20px
}

/* Hides burger menu when navigation is visible */
@media (min-width: 1000px) {   #site-header .toggle-wrapper   {
    display: none !important;
  }
}


/* ### Page content ### */

/* fix: buttons don't end up centered despite the block being properly configured*/
.wp-block-button.aligncenter {
	text-align: center;
}

/* fix: button:hover text is invisible */
.wp-block-button:hover a {
	background-color: #2980FF !important;
	color: #fff !important;
	text-decoration: none !important;
}

/* Adjusts padding and reduces default rounding from 6px tp 4px */
button, .tw-btn-rounded .button, .tw-btn-rounded .faux-button, .tw-btn-rounded .wp-block-button__link, .tw-btn-rounded .wp-block-file__button, .tw-btn-rounded input[type="button"], .tw-btn-rounded input[type="submit"], .tw-btn-rounded .menu-button a {
	padding: 0.9em 2em;
	border-radius: 4px !important;
	text-transform: none;
}

/* Styles alert titles like headlines */
.wp-block-coblocks-alert__title {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}

/* Hides publish date from articles because they're supposed to get updated */
article.category-article header.entry-header .post-meta-wrapper .post-date {
	display: none
}

/* Underlines post titles in overviews to indicate that they're clickable */
article .entry-title a {
    text-decoration: underline !important;
  text-decoration-color: #1BE08B !important;
}
/* Makes link underlines consistent */
p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit !important;
    text-decoration: underline !important;
  text-decoration-color: #1BE08B !important;
}
a:hover {
	color: #1BE08B !important;
}
#site-footer li:not(.iz-footer-menu-item-icon) a {
	text-decoration: underline;
  text-decoration-color: #1BE08B;
}

/* Hides excerpt from articles */

article.category-article header.entry-header .intro-text {
	display: none
}


/* ### Special: Tables ### */
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: #f0f0f0
}
.iz-table-bigger-first-column table th {
	width: 80%
}
.iz-table-bigger-first-column table th:first-child {
	width: 20%
}

/* Home page */

.iz-home-centered-button-wrapper {
  max-width: 100% !important;
  margin-right: 0;
  padding: 0;
  width: 100% !important;
}

/* ### Impact 1on1 */
.iz-impact1on1-navigation {
	top: 0;
  position: fixed;
	z-index: 100;
  background: white;
}
.iz-impact1on1-navigation h2 {
	margin: 0;
}
.iz-impact1on1-navigation .wp-block-navigation {
	margin: 0;
}
#post-932 .wp-block-cover {
	margin-top: 0;
}


/* ### Special: Full page templates ### */
/* Hides language switcher footer on pages with no header/footer */
.page-template-tw-no-header-footer .wpml-ls-statics-footer.wpml-ls {
	display: none
}


/* Takes the fixed header into account and adds white space when linking/scrolling to anchored headlines */
h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before {
  content: '';
  display: block;
  height:      8rem;
  margin-top: -8rem;
  visibility: hidden;
}


/* Hides author and date for posts of type project */
article.category-project .post-meta-wrapper {
	display: none
}
/* Hides the excerpt from posts of type Project */
article.category-project .entry-header .intro-text {
	display: none
}

/* Reduces whitespace between title and content for posts of type Project */
article.category-project .post-inner {
	padding-top: 0;
}


/* Footer: Turn labels into icons */
#site-footer .footer-menu .iz-footer-menu-item-icon a {
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
  width:  20px;
	display: inline-block;
	vertical-align: middle;
	
  /* Hide the text. */
  text-indent: 100%;
	white-space: nowrap;
  overflow: hidden;
}

#site-footer .footer-menu .iz-footer-menu-item-medium a {
	background-image: url(https://imagine-zero.org/wp-content/uploads/2020/08/medium-icon.png);
}

#site-footer .footer-menu .iz-footer-menu-item-linkedin a {
	background-image: url(https://imagine-zero.org/wp-content/uploads/2020/08/linkedin-icon.png);
}

/* Author pages */
body.author main article {
	display: none;
}
body.author main hr {
	display: none;
}

body.author #pagination-wrapper {
	display: none;
}

body.author #infinite-handle {
	display: none;
}


/* Special: Allows to clear floats */
.iz-clear-both {
	clear: both;
}