.iz-no-margin {
	margin: 0;
}

/* Special: Allows to clear floats */
.iz-clear-both {
	clear: both;
}
.iz-table-bigger-first-column table th {
	width: 80%
}
.iz-table-bigger-first-column table th:first-child {
	width: 20%
}

$block-space-v: 6rem;

.iz-bg-block,
.iz-bg-block-upper,
.iz-bg-block-lower {
  margin: 4rem 0  !important;
  max-width: none !important;
  width: 100% !important;
  background: #f2f2f2;
  padding: $block-space-v 0 !important;
}
.iz-bg-block-upper {
  padding: $block-space-v 0 0 0 !important;
  margin-bottom: 0 !important
}
.iz-bg-block-lower {
  padding: 0 0 $block-space-v 0 !important;
  margin-top: 0 !important
}