$colorPrimary: #1BE08B;
$colorPaleGray: #F3F3F3;
$colorBlack: #1C1C1C;
$colorDarkGray: #3C3C3C;
$colorBlue: #2980FF;
$colorRed: #FF3E49;

$fontHeadline: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;