#site-footer {
    /* background: black; */
}

.iz-home-numbers h2{
    font-size: 8rem;
}

@keyframes headlineFade {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

.iz-home-track-headline > li {
    opacity: 0;
    animation-name: headlineFade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-delay: 3 */
}
.iz-home-track-headline > li:nth-child(1) { animation-delay: 0s }
.iz-home-track-headline > li:nth-child(2) { animation-delay: 1s }
.iz-home-track-headline > li:nth-child(3) { animation-delay: 2s }
.iz-home-track-headline > li:nth-child(4) { animation-delay: 3s }
.iz-home-track-headline > li:nth-child(5) { animation-delay: 4s }