#site-footer {
    /* background: black; */
}

.iz-home-numbers h2{
    font-size: 8rem;
}

@keyframes homeHeadline1 {
    0% { opacity: 0 }
    10% { opacity: 1 }
    20% { opacity: 1 }
    30% { opacity: 0 }
    100% { opacity: 0 }
}

.iz-home-track-headline > li {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
.iz-home-track-headline > li:nth-child(1) { animation-name: homeHeadline1 }
.iz-home-track-headline > li:nth-child(2) { animation-delay: 1s }
.iz-home-track-headline > li:nth-child(3) { animation-delay: 2s }
.iz-home-track-headline > li:nth-child(4) { animation-delay: 3s }
.iz-home-track-headline > li:nth-child(5) { animation-delay: 4s }