
/* Hides publish date from articles because they're supposed to get updated */
article.category-article header.entry-header .post-meta-wrapper .post-date {
	display: none
}

/* Underlines post titles in overviews to indicate that they're clickable */
article .entry-title a {
    text-decoration: underline !important;
	text-decoration-color: #1BE08B !important;
}

.wp-block-coblocks-hero {
  margin-top: 0 !important;
}

/* ### Special: Tables ### */
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: #f0f0f0
}

/* Observed in a 3-column grid each with a float-left image: Image had no margin with viewport width >= 1000px */
.iz-image-float-in-column {
    float: left;
	margin: 0 1em .5em 0 !important;
	figure { margin: 0 !important }
}

.wp-block-columns .wp-block-column > .wp-block-image:has(>.alignleft):first-child {
    margin-bottom: 0;
}

.iz-no-margin {
	margin: 0;
}

/* Special: Allows to clear floats */
.iz-clear-both {
	clear: both;
}
.iz-table-bigger-first-column table th {
	width: 80%
}
.iz-table-bigger-first-column table th:first-child {
	width: 20%
}

.iz-bg-block-upper {
  padding: 6rem 0 0 0 !important;
  margin-bottom: 0 !important;
  padding: 6rem 4rem 0 4rem !important;
}
.iz-bg-block-lower {
  padding: 0 0 6rem 0 !important;
  margin-top: 0 !important;
  padding: 0 4rem 6rem 4rem !important;
}

.iz-bg-block {
  margin: 4rem 0  !important;
  padding: 6rem 4rem !important;
}

.iz-bg-block,
.iz-bg-block-upper,
.iz-bg-block-lower {
  &.iz-margin-no-top { margin-top: 0 !important; }
  &.iz-margin-no-bottom { margin-bottom: 0 !important; }
  max-width: none !important;
  width: 100% !important;
  background: #f2f2f2;
}


.iz-margin-no-top { margin-top: 0 !important; }
.iz-margin-no-bottom { margin-bottom: 0 !important; }