@use '../variables' as variables;

/* ### Header ### */

/* Reduces vertical whitespace */
.header-inner {
	padding-top: 1.8rem !important;
	padding-bottom: 1.8rem !important;
}


/* Makes the site logo smaller (on high-ppi devices that works better than uploading a smaller file) */
.site-logo img {
	max-height:35px !important
}

/* Moves burger menu icon up to make sure it's centered including the "Menu* label added by the Twentig plugin */
#site-header button.nav-toggle {
	margin-top: -20px
}

/* Hides burger menu when navigation is visible */
@media (min-width: 1000px) {   #site-header .toggle-wrapper   {
    display: none !important;
  }
}
.primary-menu .iz-nav-action {
	border: 2px solid variables.$colorPrimary;
	border-radius: 3px;
	padding: 4px 1.5rem;
	margin-left: 2rem;
	margin-right: -0.5rem;
	> a {
		padding: 0 !important;
		margin: 0 !important;
	};
	> .icon { display: none;}
}

.modal-menu .iz-nav-action {
	background-color: #f1fff9;
}

#site-header .primary-menu li.menu-item-has-children:hover > ul.sub-menu {
	transition: none !important;
	border-radius: 0 !important;
	top: calc(100% + 1rem);
	box-shadow: 0 0 8px 0px rgba(100, 100, 100, 0.5);
}
.primary-menu > li > ul:after {
	display: none !important;
	border: none !important;
	background: none !important;
}
