@use '../../variables' as variables;

$colorDarkBlue: transparentize(variables.$colorBlue, 0.3);
$colorDarkRed: transparentize(variables.$colorRed, 0.3);

body.page-id-4573 {
  .wp-block-jetpack-layout-grid {
      background: linear-gradient(#040808,#0c1718, #0c1718);
    // background: black;
    margin-top: 4rem;

    .wp-block-embed {
        margin: 2rem !important;
    }
  }

  .iz-cta {
    @media (max-width:  600px) {
      .wp-block-button  {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  .iz-challenges-submitted {
		display: none;
	}
	.coblocks-form__submitted { display: none;}

	.entry-content > .iz-bg-block:nth-child(2) {
		margin-top: 0 !important;
	} 
	.iz-challenges-headline {
		h2 { margin: 0 }
		margin-bottom: 4rem;
  } 
  
  .iz-challenges-bootstrap summary em {
	background-color: variables.$colorDarkGreen;
  }

	summary {
		font-family: variables.$fontHeadline;
		background-color: #3C3C3C;
		color: variables.$colorPaleGray;
		em, strong {
			background-color: $colorDarkBlue;
			color: variables.$colorDarkGray;
			display: inline-block;
			vertical-align: text-bottom;
			margin: 3px 0.1rem 1px 0;
			// &:first
			// &:first-of-type { 
				// margin-left: 23px;
			// }
			padding: 0px 8px;
			font-style: normal;
			border-radius: 3px;
			font-size: 0.8em;
		}
		strong  {
			background-color: $colorDarkRed;
			font-weight: normal;
		}
	}
	details {
		> div { border: none }
		form {
			display: flex;
			align-content: stretch;
			flex-flow: row wrap;
			margin-top: 4rem;
			label { display: none }
			input[type=email] {
				width: auto;
				flex: 100 0px;
				border: 2px solid variables.$colorPrimary;
				margin-right: 2rem;
				padding: 1rem;
			}
			.wp-block-button {
				padding: 0;
				button { padding: 1rem 2rem}
			}
		}
	}
}