/* Author pages */

body.author main article {
	display: none;
}
body.author main hr {
	display: none;
}

body.author #pagination-wrapper {
	display: none;
}

body.author #infinite-handle {
	display: none;
}