@use '../variables' as variables;

body.page-id-4279 {
    .wp-block-coblocks-hero__inner {
        background-position: center 200px !important;
        background-repeat: no-repeat !important;
        background-size: 100%;
        @media (max-width:  2800px) { background-position: center 230px !important;}
        @media (max-width:  2100px) { background-position: center 240px !important;}
        @media (max-width:  1900px) { background-position: center 250px !important;}
        @media (max-width:  1000px) { background-size: 150%;}
        @media (max-width:  600px) { background-size: 200%; }
        @media (max-width:  400px) { background-size: 300%; }
        @media (max-width:  300px) { background-size: 400%; }
        @media (max-width:  200px) { background-size: cover; background-position: bottom !important;}
        // }
    }

    #site-content article header { display: none }

    .iz-donors-circles {

        @media (min-width: 1700px) { 
            max-width: 1700px;
            strong {
                font-size: 2.5rem !important;
            }
        }
        
        > div {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 200px;
                margin: 0;

                align-items: center;
                justify-content: space-around;

                li {
                    &:before {
                        content: "";
                        display: block;
                        padding-top: 100%;
                        float: left;
                    }
                    flex: 1;
                    display: flex;
                    background: #f2f2f2;
                    text-align: center;
                    border-radius: 500px;
                    padding: 2vw;
                    margin: 2rem 0;
                    min-width: 200px;
                    max-width: 40%;

                    @media (max-width: 900px) { min-width: 300px }
                    @media (max-width: 800px) { min-width: 250px }
                    @media (max-width: 700px) { min-width: 200px }
                    @media (max-width: 500px) { min-width: 180px }
                    @media (max-width: 400px) { min-width: 140px }
                    @media (max-width: 300px) { min-width: 100px }

                    
                    strong {
                        font-weight: normal;
                        font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
                        align-self: center;
                        white-space: break-spaces;
                        
                        font-size: 1.6vw;
                        @media (max-width: 1000px) { font-size: 1.9vw; }
                        @media (max-width: 900px) { font-size: 3.1vw; }
                        // @media (max-width: 800px) { font-size: 3.2vw; }
                        @media (max-width: 700px) { font-size: 2.6vw; }
                        @media (max-width: 600px) { font-size: 3.0vw; }
                    }
                }
            }
        }
    }

    .wp-block-image figure {
        max-width: none !important;
        @media (max-width: 600px) { max-width: 30vw !important;}
    }

    .wp-block-buttons .wp-block-button { display: flex;}
}