body.page-id-4573 {
  .wp-block-jetpack-layout-grid {
      background: linear-gradient(#040808,#0c1718, #0c1718);
    // background: black;
    margin-top: 4rem;

    .wp-block-embed {
        margin: 2rem !important;
    }
  }

  .iz-cta {
    @media (max-width:  600px) {
      .wp-block-button  {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}