
/* ### Impact 1on1 */
.iz-impact1on1-navigation {
	top: 0;
  position: fixed;
	z-index: 100;
  background: white;
}
.iz-impact1on1-navigation h2 {
	margin: 0;
}
.iz-impact1on1-navigation .wp-block-navigation {
	margin: 0;
}
#post-932 .wp-block-cover {
	margin-top: 0;
}
