@use '../variables' as variables;

body.page-id-84,
body.page-id-491 {

  .tlp-team-container {
    max-width: 120rem !important;

    .team-member {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      @media (min-width: 500px) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (min-width: 800px) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      color: variables.$colorBlack;
      
      &.expanded {
        .short-bio { display: block } 
        .tpl-social { display: block }
        img { 
          opacity: 0.07;
          filter: grayscale(90%) contrast(50);
          transition: filter 500s ease-in-out;
          mix-blend-mode: color-burn;
        }
      }

      .single-team-area {
        position: relative;
      }
      img {
        width: 100%;
        filter: grayscale(90%) contrast(1.1);
      }
      .tlp-content {
        overflow: hidden;
        background: none !important;
        > * {color: black};
        color: inherit;
        padding: 1rem 0 3rem;

        h3, .designation {
          font-size: inherit;
          color: inherit;
        }
      }
      .short-bio {
        position: absolute;
        top: 30px;
        display: none;
        p {
          text-shadow: 0 0 5px variables.$colorPaleGray;
        }
      }

      .tpl-social {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        a { margin: 0 2px 4px 4px }
        .fa-linkedin,
        .fa-twitter {
          color: #fff;
          width: 32px;
          height: 32px;
        }
        .fa-twitter { background: #3aa9e0; }
        .fa-linkedin { background: #0080b1; }
      }
    } 
  }

  .iz-team-advisors {
    .tlp-row { justify-content: center; }
  }
}